{% include "header.html" %}
<div class="container-fluid" style="border: 1px solid black">
	<div class="row">
		<div class="col-md-12">
			<h1>{{header}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>{{description}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			{% if user %}
			<a href="{{url_for('editItem', item = header)}}" style="border-right: 1px solid black; padding-right: 5px">Edit</a>
			<a href="{{url_for('deleteItem', item = header)}}">Delete</a>
			{% endif %}
		</div>
		<div class="col-md-4"></div>
		
	</div>
</div>
